// footer
footer.footer 
	.wrapper 
		.footer__top 
			.footer__row 
				.footer__col
					ul.footer__list
						li 
							a(href="#") Каталог проектов
						li 
							a(href="#") Сувениры
						li 
							a(href="#") Курсы для инвесторов
						li 
							a(href="#") Инвестиционные программы
						li 
							a(href="#") Личный кабинет
						li 
							a(href="#") Маркетплейс аварест
				.footer__col
					.footer__requisites
						p МПК "Аварест"
						p 125480, г.Москва, ул. Вилиса Лациса 6к1, оф 8
						p ИНН 9706003521, КПП 770601001
						p р/с 40703810338000015417
						p к/с 30101810400000000225
						p БИК 044525225
						p ПАО Сбербанк г. Москва
					ul.footer__links 
						li 
							a(href="https://avarest.ru") https://avarest.ru
						li 
							a(href="mailto:info@avarest.ru") info@avarest.ru
				.footer__col.footer__col--right
					a(href="tel:+78005519588").footer__tel +7 (800) 551 95 88
					.footer__text
						p 
							span * Для звонков из РФ
							span с 9-00 до 18-00 по будням
						p 
							span САЙТ КОНКУРСА: 
								a(href="#") findinvest.space
							span ВОПРОСЫ: 
								a(href="mailto:findinvest@avarest.ru") findinvest@avarest.ru
		.footer__bottom
			.footer__paysistems 
				img(src="img/robokassa.png", alt="").footer__robo
				img(src="img/paysistems.png", alt="").footer__pays
			.footer__row.footer__row--align-center
				.footer__col
					a(href="#").footer__logo 
						img(src="img/logo_2.jpg", alt="")
				.footer__col.footer__col--center
					p
						a(href="#") Соглашение по обрабоке персональных данных
					p
						a(href="#") Положение о конкурсе "Международная битва проектов"
					p Copyright 2019-2021 Все права защищены
				.footer__col.footer__col--right
					p
						a(href="#") Пользовательское Соглашение
					p
						a(href="#") Политика конфиденциальности
					p
						a(href="#") Политика обработки кук
// /footer