mixin new-little()
  // new-little
  article.new-little
    a(href="#")
      .new-little__head 
        h1.new-little__title 14 представительств в РФ и СНГ
        .new-little__date 06.08.2021
      .new-little__row 
        .new-little__img 
          img(src="img/news_thumb.jpg", alt="")
        .new-little__text К проекту Аварест присоединяются партнеры. К проекту Аварест присоединяются партнеры. К проекту Аварест присоединяются партнеры. К проекту Аварест присоединяются партнеры.
  //	/new-little