mixin new()
  // new
  article.new
    a(href="#").new__img.img-responsive
      img(src="img/news_thumb.jpg", alt="")
    .new__content 
      time.new__date 06.08.2021
      .new__text 
        h1 14 представительств в РФ и СНГ
        p К проекту Аварест присоединяются партнеры. К проекту Аварест присоединяются партнеры. К проекту Аварест присоединяются партнеры. К проекту Аварест присоединяются партнеры. 
      .new__more
        a(href="#") Подробнее...&#62;&#62;
  //	/new