extends blocks/base.pug

block title 
	title Каталог товаров

block style-libs

block content

	include blocks/card.pug

	.page

		include blocks/header.pug
		
		.content
			.wrapper

				// breadcrambs
				ul.breadcrambs
					li 
						a(href="#") Главная
					li 
						span Каталог проектов
				//	/breadcrambs

				// filters
				.filters
					.filters__btn.btn.js-drop-btn-filters(data-drop="filters") Фильтры
					form(action="#").filters__form.js-drop-filters#filters
						.filters__category 
							span По категории
							.filters__icon 
								input#filter_catergory_1(type="radio" name="filter_catergory")
								label(for="filter_catergory_1") 
									img(src="img/001_idea.png", alt="")
							.filters__icon 
								input#filter_catergory_2(type="radio" name="filter_catergory")
								label(for="filter_catergory_2") 
									img(src="img/002_mvp.png", alt="")
							.filters__icon 
								input#filter_catergory_3(type="radio" name="filter_catergory")
								label(for="filter_catergory_3") 
									img(src="img/003_biz.png", alt="")
						.filters__items 
							.filters__item 
								input#filter_1(type="radio" name="filters")
								label.btn(for="filter_1") По цене
							.filters__item 
								input#filter_2(type="radio" name="filters")
								label.btn(for="filter_2") По категории
							.filters__item 
								input#filter_3(type="radio" name="filters")
								label.btn(for="filter_3") По дате
							.filters__item 
								input#filter_4(type="radio" name="filters")
								label.btn(for="filter_4") По локации
				//	/filters

				// category
				.category
					.row 
						.category__col
							+card('favorite_1')
						.category__col
							+card('favorite_2')
						.category__col
							+card('favorite_3')
						.category__col
							+card('favorite_4')
				//	/category
			
		include blocks/banner.pug
		+banner('Наши вебинары', 'Программа обучения для начала карьеры и повышения своего уровня!','background-image: url(../img/banner.jpg);')

		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")