extends blocks/base.pug

block title 
	title Новости

block style-libs

block content

	include blocks/new.pug

	.page

		include blocks/header.pug
		
		.content
			.wrapper

				// breadcrambs
				ul.breadcrambs
					li 
						a(href="#") Главная
					li 
						span Новости
				//	/breadcrambs

				// news-page
				.news-page
					h1.news-page__title 14 представительств в РФ и СНГ
					.news-page__date Дата публикации: 06.08.2021
					.news-page__text
						img(src="img/news_thumb.jpg", alt="") 
						p 
							i Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Вершину вопрос приставка назад продолжил ручеек обеспечивает жизни алфавит там над использовало родного текста дорогу домах, агентство переписали, переписывается встретил парадигматическая необходимыми это рукописи текст что снова первую взобравшись? Первую текст текстами то ты необходимыми от всех заголовок, его послушавшись коварный рыбными, грустный ручеек безорфографичный толку реторический. Имени что рукописи гор осталось если буквенных свою коварный бросил пор? Взгляд страна наш, власти родного живет возвращайся если журчит вопрос, своих злых точках подзаголовок сбить гор. Которое речью они, повстречался агентство вскоре назад проектах свой рыбного буквенных, силуэт его текстов гор бросил запятой ведущими пустился раз ее своего предложения? Гор эта пунктуация семантика обеспечивает которое грамматики курсивных, маленькая алфавит. Толку вопрос послушавшись родного путь переписали живет последний, себя страна ручеек! Маленький, которое? Коварный маленький решила но, заманивший пустился безопасную всемогущая буквоград приставка предупреждал сих вскоре обеспечивает использовало всеми несколько, переписали большой рыбного алфавит выйти это встретил дороге текстов они? Деревни, решила 
						p рыбными текстами жаренные повстречался образ необходимыми города свою приставка толку инициал ему пор на берегу что. Меня рекламных рот подпоясал родного, пор безорфографичный ее то путь безопасную страна но послушавшись парадигматическая бросил одна снова. Текста это продолжил встретил, ему раз использовало рукопись. О возвращайся языкового страну путь буквоград рыбного всеми, текстами заманивший дорогу вдали коварный даль свой? Продолжил наш алфавит образ даль агентство языком ты семь предупреждал переписали взобравшись, о рекламных, пустился ведущими текст рот? Ручеек не дал текстами запятых страну сбить за, языкового вскоре меня агентство точках на берегу бросил строчка проектах, подзаголовок скатился? На берегу подпоясал коварный о напоивший последний? Над возвращайся переулка дал она lorem родного которой страна щеке на берегу, пустился великий диких ipsum переписали безопасную алфавит даль правилами жизни мир там все собрал необходимыми сбить. Грамматики, безорфографичный напоивший? Раз осталось ему диких ipsum она себя взобравшись свой выйти продолжил. Напоивший, предложения?
						h2 Подзаголовок статьи
						p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Бросил рыбного сих это одна lorem, взгляд рыбными эта свое залетают приставка ipsum текстов, домах снова над составитель единственное послушавшись рекламных? Силуэт толку выйти диких деревни щеке сбить букв рукописи послушавшись до, предупреждал повстречался дороге коварный от всех всемогущая запятых по всей буквоград строчка раз напоивший. Языкового злых своих назад эта рыбными образ которой о грустный переписывается выйти за щеке журчит оксмокс свое на берегу, большой ее гор коварный языком не снова что страна. Продолжил она предложения живет, взобравшись эта пустился составитель рукописи! Возвращайся которое пояс знаках журчит безопасную все осталось за, мир единственное путь необходимыми строчка диких силуэт букв. Свой ее своих однажды строчка рыбными назад что, он образ осталось родного буквенных. Буквоград языкового журчит оксмокс правилами над за злых назад вскоре приставка жаренные не деревни безопасную букв путь коварных последний курсивных продолжил, встретил предупредила рекламных использовало. Меня пустился дал осталось эта использовало предупреждал он, живет силуэт путь переулка? Они по всей обеспечивает его страна, 
							a(href="#") заманивший строчка подзаголовок мир
							| , парадигматическая домах взобравшись, безорфографичный продолжил рыбного ты переписывается инициал рыбными взгляд? Даже единственное океана текст, свою рот себя выйти родного? Города текстами толку, буквоград ведущими всеми знаках одна всемогущая использовало! Раз рыбными лучше образ!
				//	/news-page

				// pagination
				.pagination
					ul.pagination__list.pagination__list--no-points
						li.pagination__no-active
							a(href="#") &#60;&#60; Назад &#62;&#62;
						li 
							a(href="#") &#60;&#60; Вперед &#62;&#62;

				//	/pagination
			
		// banner
		.banner
			.wrapper
				.banner__content.banner__content--left
					.banner__title.banner__title--small Видео о проекте
					.banner__text Презентационные ролики, интервью, отзывы партнеров.
		// /banner

		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")