.faq {
  .row {
    @include no-gutter();
  }
  &__col {
    @include col(3);
    @include col-lg(6);
    @include col-xs(12);
  }
  &__item {
    display: block;
    height: 100%;
    min-height: 300px;
    position: relative;
    color: #fff;
    overflow: hidden;
    &:hover {
      .faq__img {
        transform: scale(1.1);
      }
    }
  }
  &__content {
    max-width: 400px;
    padding: 70px 20px 70px 60px;
    position: relative;
    z-index: 2;
  }
  &__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 22px;
    font-weight: 500;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    transform: scale(1.01);
  }
  @media (max-width: $break_sm) {
    &__content {
      padding: 70px 20px 70px 30px;
    }
    &__title {
      font-size: 20px;
    }
    &__text {
      font-size: 18px;
    }
  }
  @media (max-width: $break_xs) {
    &__content {
      padding: 70px 15px 70px 15px;
    }
    &__item {
      min-height: 200px;
    }
    &__text {
      font-size: 12px;
    }
  }
}