.newsblock {
  padding: 60px 0;
  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #CDCDCD;
  }
  &__title {
    font-size: 25px;
    font-weight: bold;
    color: $blue;
  }
  &__link {
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
    white-space: nowrap;
    color: $red;
    border-bottom: 1px solid transparent;
    &:hover {
      // color: lighten($red, 10%);
      border-color: $red;
    }
  }
  .row {
    align-items: flex-start;
  }
  &__col {
    @include col(6);
    @include col-md(12);
    &--2 {
      padding-top: 25px;
    }
  }
  @media (max-width: $break_md) {
    &__col {
      &--1 {
        display: none;
      }
    }
  }
  @media (max-width: $break_sm) {
    &__title {
      font-size: 20px;
    }
    &__link {
      font-size: 14px;
      margin-top: 2px;
    }
  }
  @media (max-width: $break_xs) {
    padding: 30px 0;
    &__head {
      flex-wrap: wrap;
    }
    &__title {
      width: 100%;
      margin-bottom: 10px;
      font-size: 18px;
    }
    &__link {
      margin: 0;
    }
  }
}