/* settings */
html {
  height: 100%;
}
a {
  transition: .2s;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  &.lock {
    position: fixed;
  }
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
.row {
  @include row-flex();
}
.wrapper {
  @include wrapper();
}
*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}
.btn {
  display: inline-block;
  padding: 15px 50px;
  border: 1px solid $red;
  background-color: #fff;
  border-radius: 30px;
  user-select: none;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  color: $red;
  outline: none;
  text-transform: uppercase;
  &:hover {
    background-color: $red;
    color: #fff;
  }
}

@keyframes favorite {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* /settings */